modules = ["nodejs-20", "php-8.1"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Elementor Demo Server"

[[workflows.workflow]]
name = "Elementor Demo Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 demo.php"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:5000"]
